.env/
.venv/
.vagrant/
.myvenv/
__pycache__/
.vagrant/


# ==================== Ignore PyCharm IDE files
*.iml
*.xml
/.idea


# ==================== Ignore large files
*.zip
*.csv
*.png
*.jpg
*.jpeg
*.pdf
*.xlsx
*.txt
*.sql
*.tgz
*.gz
*.lock
*.json
*.tar
*.log
*.db

# ==================== Ignore secret files
*.pem
*.lic
*.env


